*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img_list{
    width: 200px;
}
.buton{
    
    left: 250px;
    background-color:#181e8c;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 22px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 12px;
    transition-duration: 0.4s;
    

}
.buton:hover {
    background-color: #ffa626; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .uwu{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .uwu_cart{
    margin: 20px;
    padding: 2rem;
    border-radius: 6px;
    overflow: hidden;
    background-color: bisque;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
   
  }

  
  